---
// Component Imports
import MainLayout from "../layouts/MainLayout.astro";
import CTA from "../components/CTA.tsx";
import Depoimentos from "../components/Depoimentos.astro";
import Bonus from "../components/Bonus.astro";
import FAQ from "../components/FAQ.astro";
import Furadeira from "../components/Furadeira.astro";
import Sobre from "../components/Sobre.astro";
import Hero from "../components/Hero.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<MainLayout>
  <div class="flex flex-col h-screen bg-blue">
    <Hero />
    <CTA
      client:load
      params={Astro.url.searchParams.toString()}
      label="QUERO GANHAR GRANDES COMISSÕES COM O B2B"
      ctaOption="1"
    />
    <Furadeira />
    <Depoimentos />
    <Bonus />
    <CTA
      client:load
      params={Astro.url.searchParams.toString()}
      price
      label="QUERO GANHAR GRANDES COMISSÕES COM O B2B"
      ctaOption="2"
    />
    <Sobre />
    <FAQ />
    <CTA
      client:load
      params={Astro.url.searchParams.toString()}
      price
      label="QUERO GANHAR GRANDES COMISSÕES COM O B2B"
      ctaOption="3"
    />
  </div>
</MainLayout>
