---
// Click button, get confetti!
// Styled by Tailwind :)
import YouTubePlayer from "../components/YouTubePlayer.astro";
import VimeoPlayer from "./VimeoPlayer.astro";
import { Image } from "astro:assets";
import arrowDown from "../img/arrow-down.svg";
import logo from "../img/logo.webp";
---

<div
  class="flex flex-col items-center max-w-[800px] mx-auto justify-center py-2 gap-2 text-slate-50 sm:py-4"
>
  <div class="w-[180px] sm:w-[300px]">
    <Image loading="eager" src={logo} alt="logo" width={300} height={120} />
  </div>
  <h1
    class="mt-6 px-4 text-center text-2xl italic font-black leading-[29px] tracking-[-25] text-cream sm:w-2/3 sm:px-0 sm:text-[24px] sm:leading-[36px]"
  >
    Se você vende para outras empresas, se trabalha no <span
      class="text-red-400"
    >
      B2B
    </span>,você não precisa se desesperar todo fim de mês e nem pensar em mudar
    de profissão
  </h1>

  <p
    class="mx-auto w-[95%] max-w-[600px] text-slate-50 text-center text-[16.67px] font-bold leading-[22.9px] tracking-[-25] sm:mt-7 sm:px-2 lg:mt-5 lg:text-[18.75px]"
  >
    Pois até o vendedor que acha que não tem o "perfil ideal" de um vendedor
    consegue dobrar suas comissões e ganhar mais do que se estivesse em
    praticamente qualquer outra profissão!
  </p>
  <p
    class="mx-auto w-[80%] max-w-[600px] text-center text-[16.67px] font-bold leading-[22.9px] tracking-[-25] sm:mt-7 sm:px-2 lg:mt-5 lg:text-[18.75px]"
  >
    Assista o vídeo abaixo e você vai aprender 3 coisas:
  </p>

  <div class="grid grid-cols-1 max-w-[600px] items-center gap-2 lg:mt-4">
    <!-- <div
      class="flex h-[3rem] w-[3rem] items-center justify-center rounded-full border-[2px] border-green"
    >
      <span class="text-2xl text-cream">1</span>
    </div> -->
    <p
      class="text-[15.67px] font-medium leading-[22.9px] tracking-[-25] lg:text-[16.75px]"
    >
      1. Como fazer parte dos vendedores que têm o bolso recheado de <span
        class="text-cream">GRANDES COMISSÕES</span
      >;
    </p>

    <p
      class="text-[15.67px] font-medium leading-[22.9px] tracking-[-25] lg:text-[16.75px]"
    >
      2. Como fazer <span class="text-cream">SEUS CLIENTES TE ENXERGAREM</span> de
      uma forma totalmente diferenciada DO QUE ELES ENXERGAM OUTROS VENDEDORES (e
      assim comprarem de você mais do que eles compram de outros vendedores);
    </p>
    <p
      class="text-[15.67px] font-medium leading-[22.9px] tracking-[-25] lg:text-[16.75px]"
    >
      3. Como você pode ter orgulho da sua profissão, e também fazer a SUA
      FAMÍLIA <span class="text-cream">TER ORGULHO DE VOCÊ</span>, por ser um
      vendedor profissional!
    </p>
  </div>
  <div class="m-2">
    <p class="text-center">
      Ps: esse negócio de "perfil ideal" de vendedor NÃO EXISTE! Assiste o vídeo
      que você vai entender melhor.
    </p>
  </div>
  <Image
    loading="eager"
    class="ml-2 animate-bounce"
    src={arrowDown}
    alt="one"
  />

  <div class="w-full">
    <div class="mx-auto w-[95%] max-w-[600px]"></div>
    <YouTubePlayer id="B_AJs5HO_oE" />
  </div>
</div>
