---
// Click button, get confetti!
// Styled by Tailwind :)
import YouTubePlayer from "../components/YouTubePlayer.astro";
import { Image } from "astro:assets";
import arrowDown from "../img/arrow-down.svg";
import logo from "../img/logo.svg";
---

<div class="flex flex-col items-center justify-center py-2 text-cream sm:py-4">
  <div class="w-[180px] sm:w-[300px]">
    <Image loading="eager" src={logo} alt="logo" width={300} height={120} />
  </div>
  <h1
    class="mb-[14.4px] mt-6 px-4 text-center text-[18px] font-black uppercase leading-[29px] tracking-[-25] text-cream sm:w-2/3 sm:px-0 sm:text-[24px] sm:leading-[36px]"
  >
    Aprenda como{" "}
    <span class="text-[25px] text-red-400 sm:text-[35px]">
      aumentar a sua produção
    </span>{" "}
    de leite e ofereça o{" "}
    <span class="text-[25px] text-green sm:text-[35px]">
      melhor alimento do mundo
    </span>{" "}
    ao seu bebê.
  </h1>

  <p
    class="mx-auto w-[80%] max-w-[600px] text-center text-[16.67px] font-bold leading-[22.9px] tracking-[-25] sm:mt-7 sm:px-2 lg:mt-5 lg:text-[18.75px]"
  >
    Assista a essa aula gratuita e comece a aumentar a sua produção de leite <span
      class="font-black text-red-100">HOJE MESMO</span
    >
  </p>
  <div class="m-2">
    <Image
      loading="eager"
      class="ml-2 animate-bounce"
      src={arrowDown}
      alt="one"
    />
  </div>

  <div class="w-full">
    <div class="mx-auto w-[95%] max-w-[600px]">
      <YouTubePlayer class="" id="eXp3-bclWPs" title="LactoFlow®️" />
    </div>
  </div>
</div>
