---
const { content } = Astro.props;
import "@fontsource/roboto/400.css";
---

<html lang="en">
  <head>
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "lv2kbo1c4r");
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Milhares de pessoas comuns estão mudando as suas realidades com o poder das vendas B2B. Você também pode."
    />
    <title>O Vendedor Profissional – Novos Vendedores</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-blue">
    <slot />
  </body>
</html>
