---
const { content } = Astro.props;
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/700.css";
import "@fontsource/roboto/900.css";
import { Image } from "astro:assets";
import wppLogo from "../img/wpp-logo.svg";
---

<html lang="en">
  <head>
    <script type="text/javascript">
      (function (c, l, a, r, i, t, y) {
        c[a] =
          c[a] ||
          function () {
            (c[a].q = c[a].q || []).push(arguments);
          };
        t = l.createElement(r);
        t.async = 1;
        t.src = "https://www.clarity.ms/tag/" + i;
        y = l.getElementsByTagName(r)[0];
        y.parentNode.insertBefore(t, y);
      })(window, document, "clarity", "script", "lv2kbo1c4r");
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Milhares de pessoas comuns estão mudando as suas realidades com o poder das vendas B2B. Você também pode."
    />
    <title>O Vendedor Profissional – Novos Vendedores</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@slightlyoff/lite-vimeo@0.1.1/lite-vimeo.js"
    ></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"
    ></script>
  </head>
  <body class="bg-blue">
    <slot />
    <div class="fixed bottom-5 right-5 cursor-pointer">
      <div class="relative h-[60px] w-[60px]">
        <a
          target="_blank"
          href="https://wa.me/5548991113894?text=Estou%20na%20p%C3%A1gina%20do%20O%20Vendedor%20Profissional%20e%20quero%20mais%20informa%C3%A7%C3%B5es"
        >
          <span>
            <Image
              width={60}
              height={60}
              alt="whats logo"
              src={wppLogo}
              decoding="async"
              data-nimg="fill"
            />
          </span>
        </a>
      </div>
    </div>
  </body>
</html>
