---
const { content } = Astro.props;
import "@fontsource/roboto/400.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="Milhares de pessoas comuns estão mudando as suas realidades com o poder das vendas B2B. Você também pode."
    />
    <title>O Vendedor Profissional – Novos Vendedores</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body class="bg-blue">
    <slot />
  </body>
</html>
